html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
}

input {
    padding: 6px;
    border-radius: 4px;
    outline: none;
    border: 1.5px solid #c5c5c5 !important;
}

input[type = file] {
    border: 1px dashed;
}
#container {
    margin-bottom: 12px;
    background-color: #ffffffe2;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(251, 0, 255, 0.3) 0 1px 3px;
    width: 670px;
}

#container2 {
    margin-bottom: 12px;
    background-color: #ffffffe2;
    padding: 13px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(251, 0, 255, 0.3) 0 1px 3px;
    width: 670px;
}

.TitleForm{
    font-size: 30px;
    text-align: center;
}
.SubtitleForm{
    color: black;
    font-size: 20px;
}

.settings-container {
    padding-bottom: 24px;
}
.form-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    color: rgb(75, 75, 75);
}
.form-container>label {
    padding-bottom: 4px;
}

.submit-button {
    display: flex;
    justify-content: flex-start;
}
button {
    margin-top: 8px;
    background: #0084ff;
    outline: none;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    color: white;
    width: 100% !important;
}
    
button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    background: #0091ff;
 }